footer{
    background-color: white;
    color: black;
    padding: 25px;
    
}

.rrss{
    padding-top: 25px;
    font-size: 40px;
}

.rrss a {
    color: black;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 30px;
    
  }
  
.rrss a:hover {
    color: gray;
  }

.madeby{
    background-color: #333333;
    color: white;
    padding: 0;
    text-align: center;
    
  }

  .madeby p{
    font-size: 11px;
  }